@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field {
  @apply w-full border px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-douane-secondary;
}

.input {
  @apply w-full p-2 border rounded-lg focus:ring-2 focus:outline-none focus:ring-douane-primary;
}
